
body {
    background-image: url('../images/bg.webp');
    margin: 0;
    font-family: 'Rubik', sans-serif;
}
.intro {
    margin: 0;
   position: absolute;
   top: 50%;  left: 50%;
   width: 100px;
   transform: translate(-50%, -50%);
 }   
    
header {
    background-color: #999;
    box-shadow: 0 0 9px 0px rgb(76 219 212);
  width: 100%;
  height: 55px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logo {
    width: 120px;
}
#sendMsg {
    position: fixed;
    margin: 0px;
    background-color: #ffffff;
    left:0;
    bottom:0;
    width: 100%;
    height:50px;
}
.type {
   height: 80px;
   background-color: #ffffff;
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-between;
}
.messagetext {
    margin: 0 10px;
    width: 75%;
    height: 40px;
    border-radius: 30px;
    border-color: transparent;
    color: #000000;
    font-size: 17px;
    background-color: #ffffff;
}
.sendbutton {
    width: 15%;
    height: 45px;
    border-color: transparent;
    background-color: #197dff;
    color: #fff;
    font-size: 20px;
    border-radius: 40px;
    margin-left: 100px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    top:0;
}
.sendbutton:active {
    background-color: #5336fa;
}
#messages{
    position: fixed;
    left:0px;
    top:0px;
    width:100%;
    height:calc( 100% - 50px );
    overflow-y:auto;
    padding:10px;
    box-sizing: border-box;
}
.encryption-note {
    background-color: #84978e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
  }
#msgTxt{
    position: absolute;
    left:0;
    top:0;
    height:100%;
    padding-left:10px;
    box-sizing: border-box;
}
.outer{
    width:100%;
    margin-top:20px;
    display:flex;
}
#inner{
    padding:11px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 0 9px 0px rgba(0, 0, 0, 0.516);
    
}
.me{
    background:#0883ff;
    color:#fff;
    
     
}
.notMe{
    background:#686868;
    color:#fff;
}

#dltMsg {
    border-radius: 50px;
    margin-left: 20px;
    font-size: 8px;
    background-color: #ff0000;
    border-color: transparent;
    color: #fff;
}


@media screen and (max-width: 408px) {
    .sendbutton {
        width: 20%;
        height: 45px;
        border-color: transparent;
        background-color: #197dff;
        color: #fff;
        font-size: 10px;
        border-radius: 40px;
    }
}